.ac-bar-title {
    fill: #797979;
}

.ac-bar-bar rect {
    stroke-width: 1;
    stroke: #868686;
    shape-rendering: crispEdges;
    cursor: pointer;
}

.ac-bar-bar text {
    color: #797979;
}

.ac-bar-bar rect:hover {

}

.ac-bar-legend-element {
    cursor: pointer;
}

.ac-bar-legend-element text {
    font-size: 0.8em;
    fill: #797979;
}

.ac-bar-axis path {
    stroke: #d6d6d6;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.ac-bar-axis {
    font-size: 1em;
    color: #797979;
}

.ac-bar-left-axis path {
    stroke: none;
}

.ac-bar-left-axis .tick line {
    stroke: none;
}

.ac-bar-right-axis path {
    stroke: none;
}

.ac-bar-right-axis .tick line {
    stroke: #d6d6d6;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}