.ac-box-line {
    stroke-width: 2px;
    shape-rendering: crispedges;
    pointer-events: none;
}

.ac-box-median {
    stroke: #fff;
    stroke-width: 2px;
    shape-rendering: crispedges;
    pointer-events: none;
}

.ac-box-upper-whisker {
    stroke-width: 2px;
    shape-rendering: crispedges;
}

.ac-box-lower-whisker {
    stroke-width: 2px;
    shape-rendering: crispedges;
}

.ac-box-box {
    shape-rendering: crispedges;
    cursor: pointer;
}

.ac-box-axis path {
    stroke: none;
}

.ac-box-axis-right .tick line {
    stroke: #ccc;
    shape-rendering: crispedges;
}

.ac-box-axis-left .tick line{
    stroke: none;
}

.ac-box-axis .tick text {
    font-size: 1.5em;
}

.ac-box-caption {
    font-size: 1.25em;
}

.ac-box-label {
    font-size: 1em;
}

.ac-box-value {
    font-size: 0.6em;
    pointer-events: none;
}
