.ac-box-line {
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispedges;
}

.ac-box-median {
    stroke: #888;
    stroke-width: 2px;
    shape-rendering: crispedges;
}

.ac-box-upper-whisker {
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispedges;
}

.ac-box-lower-whisker {
    stroke: #888;
    stroke-width: 1px;
    shape-rendering: crispedges;
}

.ac-box-box {
    fill: rgb(124, 191, 255);
    stroke: none;
    shape-rendering: crispedges;
}

.ac-box-axis path {
    stroke: none;
}

.ac-box-axis-right .tick line {
    stroke: #ccc;
    shape-rendering: crispedges;
}

.ac-box-axis-left .tick line{
    stroke: none;
}