@import 'base.css';

.ac-heatmap-canvas {
    position: absolute;
}

:hover.ac-heatmap-row-label,.ac-heatmap-row-label.highlight,:hover.ac-heatmap-col-label,.ac-heatmap-col-label.highlight{
    cursor: pointer;
    fill: red;
    font-weight: bold;
}

.ac-heatmap-row-label,.ac-heatmap-col-label {

}

.ac-heatmap-vert-hl,.ac-heatmap-hori-hl {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events: none;
    visibility: hidden;
}

.ac-heatmap-tooltip {
    white-space: nowrap;
    font-size: 0.75em;
    position: absolute;
    background: rgba(0,0,0,0.7);
    pointer-events: none;
    color: white;
    padding: 0.5vh;
    visibility: hidden;
}

