.ac-pie-caption {
    font-size: 1.5em;
    fill: #666;
}

.ac-pie-slice {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 0.5px;
}

.ac-pie-slice:hover {
    opacity: 0.6;
}

.ac-pie-legend-element {
    font-size: 0.75em;
    cursor: pointer;
}

.ac-pie-legend-element:hover {
    opacity: 0.6;
}