.ac-pie-caption {
    font-size: 1.5em;
    fill: #666;
}

.ac-pie-slice {
    cursor: pointer;
    stroke: #666;
    stroke-width: 2px;
}

.ac-pie-slice:hover {
    opacity: 0.6;
}

.ac-pie-legend-element {
    font-size: 0.75em;
}