.ac-pie-caption {
    font-size: 1.5em;
    fill: #666;
}

.ac-pie-slice-path {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 0;
}

.ac-pie-slice-path:hover {
    opacity: 0.6;
}

.ac-pie-slice-text {
    font-size: 0.75em;
}

.ac-pie-legend-element {
    font-size: 0.75em;
    cursor: pointer;
}

.ac-pie-legend-element:hover {
    opacity: 0.6;
}