@import 'base.css';

.ac-scatter-canvas {
    position: absolute;
}

.ac-scatter-svg {
    position: relative;
}

.ac-scatter-brush {
    stroke-width: 0;
}

.ac-scatter-axis {
    shape-rendering: crispEdges;
}

.ac-scatter-axis .tick {
    shape-rendering: crispEdges;
}

.ac-scatter-axis path {
    stroke: none;
}

.ac-scatter-axis .tick line {
    stroke: #d6d6d6;
}

.ac-scatter-axis .tick text {
    font-size: 1em;
}
