.ac-canvas {
    position: absolute;
}

:hover.ac-row-label,.ac-row-label.highlight,:hover.ac-col-label,.ac-col-label.highlight{
    cursor: pointer;
    fill: red;
    font-weight: bold;
}

.ac-vert-hl,.ac-hori-hl {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    pointer-events: none;
}

.ac-tooltip {
    position: absolute;
    background: rgba(0,0,0,0.7);
    pointer-events: none;
    color: white;
    padding: 0.5vh;
    border-radius: 8px;
}

